/*
    Genral Styles Start
*/

* {
    font-family: 'Fredoka', sans-serif;
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
}

.clear {
    clear: both;
}


/*
    Genral Styles End
*/


/*
    aside & aside content styles Start
*/

@media (min-width:320px) and (max-width:767px) {
    aside {
        display: none;
    }
    /*
        aside & aside content styles End
    */
    /*
        main & main Content Styles Start
    */
    .main {
        float: none;
        width: 98.5%;
        background-color: #f1f1f1;
        padding: 2.5px;
    }
    .main>h1 {
        font-size: 35px;
    }
    .main .filter {
        clear: both;
    }
    .main>div>p {
        margin: 10px 0px 10px 0px;
        font-size: 10px;
    }
    .main>div>p>span {
        padding: 5px;
        background-color: #fff;
        font-size: 15px;
        transition: 0.5s ease-in-out;
    }
    .main>div>p>span:hover {
        background-color: black;
        color: #fff;
        cursor: pointer;
    }
    .main>div>p>span:nth-last-of-type(-n+2) {
        display: none;
        float: none;
    }
    .main .sepretor {
        width: 98%;
        background-color: #ccc;
        height: 15px;
    }
    /*
        gallery Styles start
    */
    .main .gallery .item {
        background-color: #fff;
        margin: 10px 0px 10px 0px;
        width: 98%;
        float: left;
    }
    .main .gallery .item img {
        max-width: 100%;
        max-height: 90%;
        margin: auto;
    }
    .main .gallery .item h4 {
        margin: 10px;
        font-size: 20px;
        font-weight: bolder;
    }
    .main .gallery .item p {
        margin: 10px;
    }
    .main .gallery div:nth-last-of-type(-n+4) {
        display: none;
        float: none;
    }
    .pagetion-continar {
        text-align: center;
    }
    .main .gallery .pagetion {
        margin: 5px 10px;
        padding-left: 0px;
        display: inline;
        list-style: none;
    }
    .main .gallery .pagetion>li {
        display: inline;
        list-style: none;
    }
    .main .gallery .pagetion-continar>span,
    .main .gallery .pagetion>li {
        padding: 10px 15px;
        color: #000;
        transition: .5s;
    }
    .main .gallery .pagetion>li:hover,
    .main .gallery .pagetion-continar>span:hover {
        background-color: black;
        color: #fff;
    }
    /*
        gallery Styles end
    */
    /*
        avater Styles Start
    */
    .avater .image {
        float: left;
        text-align: center;
        margin-top: 10%;
    }
    .avater .image>img {
        width: calc(99% / 2);
        margin-right: 1px;
    }
    .about-me {
        margin-top: 10%;
    }
    .about-me>h3 {
        font-size: 35px;
        font-weight: bolder;
        margin-bottom: 5%;
    }
    .about-me .brief p {
        width: 90%;
        margin-bottom: 5%;
    }
    .about-me .tech-skills p {
        font-size: 20px;
    }
    .about-me .charts>div>p {
        font-size: 15px;
        margin-bottom: 1%;
    }
    .about-me .charts>div {
        margin: 25px 0px;
    }
    .about-me .charts div .photo1,
    .about-me .charts div .web1,
    .about-me .charts div .Photoshop1 {
        height: 30px;
        width: 100%;
        background-color: #9e9e9e;
        display: inline-block;
    }
    .about-me .charts div .photo2 {
        height: 30px;
        width: 95%;
        background-color: #616161;
        display: inline-block;
        text-align: center;
        color: #fff;
    }
    .about-me .charts div .web2 {
        height: 30px;
        width: 80%;
        background-color: #616161;
        display: inline-block;
        text-align: center;
        color: #fff;
    }
    .about-me .charts div .Photoshop2 {
        height: 30px;
        width: 50%;
        background-color: #616161;
        display: inline-block;
        text-align: center;
        color: #fff;
    }
    .about-me .charts button {
        padding: 10px;
        width: 20%;
        background-color: #616161;
        color: #fff;
        border: none;
    }
    .charage {
        margin-top: 5%;
    }
    .charage>p {
        font-size: 20px;
    }
    .charage .basic,
    .charage .basic-right {
        width: calc(90%/3);
        background-color: #fff;
        text-align: center;
        float: left;
        margin-top: 2%;
    }
    .charage .basic:first-of-type {
        margin-right: 50px;
    }
    .charage .basic-right {
        margin-left: 50px;
    }
    .charage .basic>p,
    .charage .basic-right>p {
        padding: 20px 10px;
        transition: .5s ease-in-out;
        background-color: #616161;
        color: #fff;
        font-size: 50px;
    }
    .charage .basic>p:hover,
    .charage .basic-right>p:hover {
        background-color: #009688;
    }
    .charage .basic ul,
    .charage .basic-right ul {
        padding-left: 0%;
    }
    .charage .basic ul li,
    .charage .basic-right ul li {
        transition: .5s ease-in-out;
        list-style: nont;
        text-decoration: none;
        padding: 20px;
        color: #616161;
        border-bottom: #616161 solid 1px;
    }
    .charage .basic ul li:hover,
    .charage .basic-right ul li:hover {
        background-color: #616161;
        color: #fff;
    }
    .charage .basic ul li button,
    .charage .basic-right ul li button {
        background-color: #009688;
        padding: 20px 20px;
        border: none;
        color: #fff;
        font-size: 15px;
    }
    .contact {
        margin-top: 10%;
        padding: 10px 20px;
        background-color: #9e9e9e;
    }
    .contact>p {
        font-size: 30px;
    }
    .contact .contatc-me {
        margin-top: 10%;
        margin-bottom: 10%;
        width: 29%;
        float: left;
        background-color: #616161;
        text-align: center;
        color: #fff;
        padding: 10px 20px;
        transition: .5s ease-in-out;
    }
    .contact>div .fa {
        font-size: 30px;
        padding-bottom: 2%;
    }
    .contact>div:hover {
        background-color: #009688;
    }
    .contact hr {
        color: #fff;
        width: 100%;
    }
    .contact input {
        width: 98%;
        padding: 10px;
        border: none;
        margin-top: 20px;
    }
    .contact .bottom {
        margin-bottom: 20px;
    }
    .contact textarea {
        width: 100%;
        border: none;
    }
    .contact button {
        padding: 10px 20px;
        background-color: #000;
        color: #fff;
        margin-top: 3%;
        border: none;
        font-size: 20px;
    }
    footer {
        padding: 10px;
        background-color: #616161;
    }
    footer>div {
        width: calc(30% / 3);
        color: #fff;
        float: left;
    }
    footer>div>p {
        font-size: 25px;
    }
}