* {
    margin: 0%;
    padding: 0%;
    font-family: 'Lato', sans-serif;
}

.clear {
    clear: both;
}

html,
body {
    height: 100%;
    width: 100%;
}


/*
aside menu styles Begin
*/

aside {
    height: 100%;
    width: 25%;
    position: fixed;
    background-color: #f44336;
    padding: 10px;
}

aside>p {
    color: #fff;
    position: relative;
    top: 10%;
    width: 50%;
    font-size: 30px;
    height: 25%;
    padding-left: 15px;
    margin-bottom: 10%;
}

aside>ul>li {
    list-style: none;
    margin: 2px;
    height: 35px;
    width: 80%;
    padding-left: 15px;
    /*
    as i couldnt use margin:auto to center text horizontally i used marign top 
    */
    padding-top: 12px;
}

aside>ul>li:first-of-type {
    background-color: white;
}

aside>ul>li:hover {
    border: solid black .5px;
}

aside>ul>li:first-of-type>a {
    color: #000;
}

aside>ul>li>a {
    text-decoration: none;
    display: block;
    color: #fff;
}


/*
aside menu styles End
*/

.main_title {
    width: 90%;
    float: right;
}

.main_title>h1,
.Showcase>p,
.service>p,
.designers>p,
.packages>p {
    text-align: center;
    font-size: 70px;
    font-weight: 400;
    position: relative;
    top: 40px;
}

.Showcase>p,
.service>p,
.designers>p,
.packages>p {
    color: #f44336;
}

.sqaure {
    width: 100px;
    height: 5px;
    border: 8px solid #f44336;
    border-radius: 82px;
    position: relative;
    left: 36%;
    top: 50px;
    clear: both;
}

.Showcase .examples {
    width: 65%;
    height: 500px;
    float: right;
}

.Showcase .examples .example {
    background-color: #fff;
    opacity: .5;
    margin: 20px;
    position: relative;
    top: 20%;
    float: left;
}

.Showcase .examples .example:hover {
    opacity: 1;
}

.Showcase .examples .example>img {
    height: 250px;
}


/*.service .descrption {
    float: left;
    color: #000;
    width: 65%;
    font-size: 10px;
}*/